body {
    height: 130vh;
    font-family: "Orbitron";
    background: linear-gradient(51deg, #6f95ff, #8dfe8a);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 14s ease infinite;
    -moz-animation: AnimationName 14s ease infinite;
    animation: AnimationName 14s ease infinite;
  }
  
  input {
    font-family: "Orbitron";
    border-radius: 6px 0px 0px 6px;
    border-color: rgba(0, 0, 0, 0.014);
    position: absolute;
    min-block-size: 28px;
    max-block-size: 28px;
    top: 40px;
    right: 100px;
  }
  h1 {
    color: rgb(53, 53, 53);
    border: 3px; 
    border-style: solid; 
    border-radius: 6px;
    border-color:#9af1f1; 
    padding: 0.47em;
    -webkit-animation: Animationn 14s ease infinite;
    -moz-animation: Animationn 14s ease infinite;
    animation: Animationn 14s ease infinite;
  }
  h2 {
    color: rgb(0, 0, 0);
    margin-left: 25%;
    width: 66%;
    text-align: center;
  }
  table {
    color: rgb(0, 0, 0);
    margin-left: 30%;
    width: 66%;
    height: 80%;
    text-align: left;
    font-size: 120%;
  }
  td {
    border-bottom: 1px solid rgb(202, 200, 200) !important;
    
  }
  .border-2px{
  border-bottom: 3px solid #6e6868 !important;
  }
  #pageContainer{
  background-color:#edf3e3;
  height: 90%;
  min-height: 700px;
  margin-top: 15px;
  margin-bottom:15px;
  border-radius:6px;
  border: 1px solid #ffffff;
  }
  #searchButton{
    font-family: "Orbitron";
    border-radius: 0px 6px 6px 0px;
    border: none;
    position: absolute;
    min-block-size: 34px;
    max-block-size: 34px;
    top: 40px;
    right: 36px;
    cursor:pointer;
  }
  iframe {
    visibility: hidden;
    transform: scale(0);
  }
  @keyframes Animationn {
    0%{border-color:#dec1ff}
    50%{border-color:#9af1f1}
    100%{border-color: #dec1ff}
  }
  
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
  
  @media screen and (max-width: 768px) {
    h1{
      font-size: 20px;
    }
    input {
      min-block-size: 20px;
      max-block-size: 20px;
      top: 25px;
    }
    #searchButton{
      min-block-size: 26.2px;
      max-block-size: 26.2px;
      top: 25px;
    }
    table {
      color: rgb(0, 0, 0);
      height: 80%;
      margin-left: 20%;
      text-align: left;
      font-size: 100%;
    } 
    h2 {
      color: rgb(0, 0, 0);
      margin-left: 15%;
      text-align: center;
      font-size: 120%;
    }
  }
  
  input:focus,
  textarea:focus {
    outline-color: lightblue;
    outline-style:hidden
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 15px;
    background-color: white;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(216, 216, 216); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7f8081; 
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7f8081; 
  }
